@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.home{
    background-color: #1F2937;
}
ul{
     list-style-type: none;
     display: flex;
     
     
}

.header-logo h1{
    font-size: 24px;
    color: #F9FAF8;
}
nav, .header-logo{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
header {
    display: flex;
    flex-direction: row;
   
   
}
.header-link{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    display: flex;
    margin: 0 10px;

}
.content-right h1{
     font-size: 48px;
     font-weight: bolder;
     color:#F9FAF8;
     
}
.content-right P{
    font-size: 18px;
    color: #E5E7EB;
    
}
.content-left img{
    width: 400px;
    margin: 50px;
}
.content{
    display: flex;
    flex-direction: row;
    margin: 50px;
}
.content-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
.content-right{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-left: 200px;
}
button{
    background-color: #3882f6;
    color: white;
    width: 100px;
    height: 40px;
    border: 1px #3882f6;
    border-radius: 10px;
    margin-top: 10px;
}
h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}
.boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box{
    border: 2px solid #3882f6;
    padding: 65px;
    border-radius: 25px;
    margin-left: 50px;
    margin-top: 10px;
}
.second{
    margin-left: 50px;
}
.Third_section{
    background-color: #E5E7EB;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

}
h3{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}
.p-third{
    font-size: 36px;
    text-align: end;
}
#p-div{
    display: flex;
    margin-left: 400px;    
}
.last-div{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue-div{
    background-color: #3882f6;
    width: 75%;
    height: 40%;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}

.left{
    width: 80%;
    margin-left: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h4{
    font-size: 24px;
    color: white;
   
}
.last-p{
    color: white;
   
}
.right{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.btn-last-div{
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 2px white;
}
.footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color:#E5E7EB;
    height: 75px;
    padding-top: 30px;
}
